/* line 12, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body {
  background-color: #EAF2EF;
  color: #F3EFF5;
  font-family: "Lato", sans-serif;
}

/* line 16, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body header {
  background-color: #2F4B26;
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* line 22, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body header nav a {
  color: #9EFD38;
  font-family: "Indie Flower", cursive;
}

/* line 26, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body header nav .hamburgercontainer {
  cursor: pointer;
  display: inline-block;
}

/* line 30, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body header nav .hamburgercontainer .bar1, body header nav .hamburgercontainer .bar2, body header nav .hamburgercontainer .bar3 {
  background-color: #9EFD38;
  height: 5px;
  margin: 6px 0;
  transition: 0.4s;
  width: 35px;
}

/* line 37, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body header nav .hamburgercontainer .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* line 41, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body header nav .hamburgercontainer .change .bar2 {
  opacity: 0;
}

/* line 42, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body header nav .hamburgercontainer .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* line 49, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body section {
  padding: 20px;
}

/* line 51, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body section h3 {
  text-align: center;
}

/* line 54, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body section button {
  border: #F3EFF5 1px solid !important;
  background-color: #605B56 !important;
  color: #F3EFF5 !important;
  margin: 20px auto;
}

/* line 61, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body #mainPageMenuDiv {
  background-color: #837A75;
}

/* line 64, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body #mainPageBooking {
  background-color: #cccccc;
  background-image: url("../selected/booking.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* line 69, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body #mainPageBooking p {
  font-weight: 200;
  text-align: center;
}

/* line 75, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body #deals h3 {
  color: #2F4B26 !important;
}

/* line 78, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body #deals .inner-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

/* line 82, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body #deals .inner-grid .column img {
  padding: 5%;
}

/* line 88, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body footer {
  background-color: #2F4B26;
  color: #F3EFF5;
  padding: 3%;
}

/* line 92, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body footer p {
  font-size: 16px;
  text-align: center;
}

/* line 95, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body footer p a {
  color: #F3EFF5;
}

/* line 99, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body footer hr {
  border-color: #F3EFF5;
  border-width: medium;
  width: 75%;
}

/* line 104, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body footer #social-media-icons {
  text-align: center;
}

/* line 106, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body footer #social-media-icons ion-icon {
  font-size: 32px;
}

/* line 110, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body footer #quick-links {
  font-size: 12px;
}

/*# sourceMappingURL=../css/main.map */