/* line 12, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body {
  background-color: #EAF2EF;
  color: #F3EFF5;
  font-family: "Lato", sans-serif;
}

/* line 16, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body header {
  background-color: #2F4B26;
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* line 22, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body header nav a {
  color: #9EFD38;
  font-family: "Indie Flower", cursive;
}

/* line 26, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body header nav .hamburgercontainer {
  cursor: pointer;
  display: inline-block;
}

/* line 30, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body header nav .hamburgercontainer .bar1, body header nav .hamburgercontainer .bar2, body header nav .hamburgercontainer .bar3 {
  background-color: #9EFD38;
  display: block;
  height: 5px;
  margin: 6px 0;
  transition: 0.4s;
  width: 35px;
}

/* line 38, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body header nav .hamburgercontainer .change .bar1 {
  -ms-transform: rotate(-45deg) translate(-9px, 6px);
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* line 43, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body header nav .hamburgercontainer .change .bar2 {
  opacity: 0;
}

/* line 44, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body header nav .hamburgercontainer .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* line 51, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body section {
  padding: 20px;
}

/* line 53, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body section h3 {
  font-size: 24px;
  text-align: center !important;
}

/* line 57, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body section p {
  font-size: 12px;
}

/* line 60, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body section button {
  border: #F3EFF5 1px solid !important;
  background-color: #605B56 !important;
  color: #F3EFF5 !important;
  margin: 20px auto;
}

/* line 67, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body #mainPageMenuDiv {
  background-color: #837A75;
}

/* line 70, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body #mainPageBooking {
  background-color: #cccccc;
  background-image: url("../selected/booking.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120% auto;
}

/* line 76, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body #mainPageBooking p {
  font-weight: 200;
  margin: 30px auto;
  text-align: center;
}

/* line 83, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body #deals h3 {
  color: #2F4B26 !important;
}

/* line 86, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body #deals .inner-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

/* line 90, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body #deals .inner-grid .column img {
  padding: 5%;
}

/* line 96, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body footer {
  background-color: #2F4B26;
  color: #F3EFF5;
  padding: 3%;
}

/* line 100, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body footer p {
  font-size: 8px;
  text-align: center;
}

/* line 104, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body footer a {
  color: #F3EFF5;
}

/* line 107, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body footer hr {
  border-color: #F3EFF5;
  border-width: medium;
  width: 75%;
}

/* line 112, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body footer #social-media-icons {
  text-align: center;
}

/* line 114, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body footer #social-media-icons ion-icon {
  font-size: 32px;
}

/* line 118, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
body footer #quick-links {
  font-size: 12px;
}

@media only screen and (min-device-width: 600px) {
  /* line 127, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
  body section h3 {
    font-size: 28px;
  }
  /* line 130, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
  body section p {
    font-size: 14px;
  }
  /* line 134, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
  body #caraSlides {
    padding: 0;
  }
  /* line 138, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
  body #mainPageBooking #mainPageMenuDivContent {
    display: inline-block;
    min-height: 20vh;
    padding: 2%;
    align-items: center;
  }
  /* line 143, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
  body #mainPageBooking #mainPageMenuDivContent p {
    margin: 50px 0;
  }
  /* line 149, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
  body footer p {
    font-size: 16px;
  }
}

@media only screen and (min-device-width: 750px) {
  /* line 158, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
  body section h3 {
    font-size: 40px;
  }
  /* line 161, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
  body section p {
    font-size: 18px;
  }
  /* line 166, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
  body footer p {
    font-size: 20px;
  }
}

@media only screen and (min-device-width: 900px) {
  /* line 175, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
  body section h3 {
    font-size: 40px;
  }
  /* line 178, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
  body section p {
    font-size: 18px;
  }
  /* line 182, /Users/dumezwenindlovu/_Web_Dev_Projects/restaurantWebsite-/sass/main.scss */
  body #mainPageMenuDiv {
    min-height: 20vh;
  }
}

/*# sourceMappingURL=../css/main.map */