//colour Variable
$grayBrown: #605B56;
$green: #2F4B26;
$greenWhite: #EAF2EF;
$lightBrown: #837A75;
$lime: #9EFD38;
$pureWhite: #F3EFF5;
//text variable
$textLogo: 'Indie Flower', cursive;
$textMain: 'Lato', sans-serif;

body{
  background-color: $greenWhite;
  color: $pureWhite;
  font-family: $textMain;
  header{
    background-color: $green;
    overflow: hidden;
    position: relative;
    width: 100%;
    nav{
      a{
        color: $lime;
        font-family: $textLogo;
      }
      .hamburgercontainer {
        cursor: pointer;
        display: inline-block;

        .bar1, .bar2, .bar3 {
          background-color: $lime;
          display: block;
          height: 5px;
          margin: 6px 0;
          transition: 0.4s;
          width: 35px;
        }
        .change .bar1 {
          -ms-transform: rotate(-45deg) translate(-9px, 6px);
          -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px);
        }
        .change .bar2 {opacity: 0;}
        .change .bar3 {
          -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
        }
      }
    }
  }
  section{
    padding: 20px;
    h3{
      font-size: 24px;
      text-align: center !important;
    }
    p{
      font-size: 12px;
    }
    button{
      border: $pureWhite 1px solid !important;
      background-color: $grayBrown !important;
      color: $pureWhite !important;
      margin: 20px auto;
    }
  }
  #mainPageMenuDiv{
    background-color: $lightBrown;
  }
  #mainPageBooking{
    background-color: #cccccc;
    background-image: url('../selected/booking.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    p{
      font-weight: 200;
      margin: 30px auto;
      text-align: center;
    }
  }
  #deals{
    h3{
      color: $green !important;
    }
    .inner-grid{
      display: grid;
      grid-template-columns: 50% 50%;
      .column{
        img{
          padding: 5%;
        }
      }
    }
  }
  footer{
    background-color: $green;
    color: $pureWhite;
    padding: 3%;
    p{
      font-size: 8px;
      text-align: center;
    }
    a{
      color: $pureWhite;
    }
    hr{
      border-color: $pureWhite;
      border-width: medium;
      width: 75%;
    }
    #social-media-icons{
      text-align: center;
      ion-icon{
        font-size: 32px;
      }
    }
    #quick-links{
      font-size: 12px;
    }
  }
}

@media only screen and (min-device-width : 600px){
  body{
    section{
      h3{
        font-size: 28px;
      }
      p{
        font-size: 14px;
      }
    }
    #caraSlides{
      padding: 0;
    }
    #mainPageBooking{
      #mainPageMenuDivContent{
        display: inline-block;
        min-height: 35vh;
        padding: 2%;
        p{
          margin: 50px 5%;
        }
      }
    }
    footer{
      p{
        font-size: 16px;
      }
    }
  }
}
@media only screen and (min-device-width : 750px){
  body{
    section{
      h3{
        font-size: 40px;
      }
      p{
        font-size: 18px;
      }
    }
    #mainPageBooking{
      min-height: 50vh;
    }
    footer{
      p{
        font-size: 20px;
      }
    }
  }
}
@media only screen and (min-device-width : 900px){
  body{
    section{
      h3{
        font-size: 40px;
      }
      p{
        font-size: 18px;
      }
    }
    #mainPageMenuDiv{
      min-height: 20vh;
    }
    #mainPageBooking{
      min-height: 70vh;
    }
  }
}
