//colour Variable
$grayBrown: #605B56;
$green: #2F4B26;
$greenWhite: #EAF2EF;
$lightBrown: #837A75;
$lime: #9EFD38;
$pureWhite: #F3EFF5;
//text variable
$textLogo: 'Indie Flower', cursive;
$textMain: 'Lato', sans-serif;

body{
  background-color: $greenWhite;
  color: $pureWhite;
  font-family: $textMain;
  header{
    background-color: $green;
    overflow: hidden;
    position: relative;
    width: 100%;
    nav{
      a{
        color: $lime;
        font-family: $textLogo;
      }
      .hamburgercontainer {
        cursor: pointer;
        display: inline-block;

        .bar1, .bar2, .bar3 {
          background-color: $lime;
          height: 5px;
          margin: 6px 0;
          transition: 0.4s;
          width: 35px;
        }
        .change{
          .bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px);
          }
          .bar2 {opacity: 0;}
          .bar3 {
            -webkit-transform: rotate(45deg) translate(-8px, -8px);
            transform: rotate(45deg) translate(-8px, -8px);
          }
        }
      }
    }
  }
  section{
    padding: 20px;
    h3{
      text-align: center;
    }
    button{
      background-color: $grayBrown !important;
      color: $pureWhite !important;
      margin: 20px auto;
    }
  }
  #mainPageMenuDiv{
    background-color: $lightBrown;
  }
  #mainPageBooking{
    background-color: #cccccc;
    background-image: url('../selected/booking.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    p{
      font-weight: 200;
      text-align: center;
    }
  }
  #deals{
    h3{
      color: $green !important;
    }
    .inner-grid{
      display: grid;
      grid-template-columns: 50% 50%;
      .column{
        img{
          padding: 5%;
        }
      }
    }
  }
  footer{
    background-color: $green;
    color: $pureWhite;
    padding: 3%;
    p{
      font-size: 16px;
      text-align: center;
      a{
        color: $pureWhite;
      }
    }
    hr{
      border-color: $pureWhite;
      border-width: medium;
      width: 75%;
    }
    #social-media-icons{
      text-align: center;
      ion-icon{
        font-size: 32px;
      }
    }
    #quick-links{
      font-size: 12px;
    }
  }
}
